* {
    padding: 0;
    margin: 0;
    font-size: 40px;
    box-sizing: border-box;
}

.box-one {
    background-color: #EB5757;
    padding: 30px;
    height: 150px;
    width: 150px;
    border: 20px solid #9B51E0;
    margin: 40px auto;
}

.box-two {
    background-color: #2D9CBD;
    padding: 30px;
    height: 150px;
    width: 150px;
    border: 30px solid #9B51E0;
    margin: 40px auto;
}